In [1]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\jsgok\appdata\local\programs\python\python38-32\lib\site-packages (1.0.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\jsgok\appdata\local\programs\python\python38-32\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\jsgok\appdata\local\programs\python\python38-32\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\jsgok\appdata\local\programs\python\python38-32\lib\site-packages (from pandas) (1.19.1)
Requirement already satisfied: six>=1.5 in c:\users\jsgok\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)

In [2]:
# pandas are cross between list and dictionary

In [5]:
import pandas as pd 
pd.Series?

In [6]:
animals=["lion","elephant","values"]
pd.Series(animals)

0        lion
1    elephant
2      values
dtype: object

In [7]:
# by default pandas sets it values to ibject

In [8]:
numbers=[1,2,3,4,5,6]
pd.Series(numbers)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [9]:
animals=["lion","tiger","sdissdjs",None]
pd.Series(animals)

0        lion
1       tiger
2    sdissdjs
3        None
dtype: object

In [10]:
numbers=[1,2,3,4,5,6,None]
pd.Series(numbers)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    NaN
dtype: float64

In [12]:
# nan != None
import numpy as np
np.nan == None

False

In [13]:
# when u do an equality test of itself then it gives u false itself 
np.nan == np.nan

False

In [14]:
# nan =not an number 
#  we have to test special library to check not an number 
#  when ever u see a nan its similiar to None but numberic value is diffrent because of efficiency reasons 
np.isnan(np.nan)

True

In [15]:
sports={
    "alen":"basketball",
    "gokul":"football",
    "absk":"tennies",
    "hari":"cricket",
}
sports

{'alen': 'basketball',
 'gokul': 'football',
 'absk': 'tennies',
 'hari': 'cricket'}

In [19]:
s=pd.Series(sports)
s

alen     basketball
gokul      football
absk        tennies
hari        cricket
dtype: object

In [21]:
# getting the index object \
s.index

Index(['alen', 'gokul', 'absk', 'hari'], dtype='object')

In [22]:
#  we can pass index values seperatly 
s=pd.Series(["gokul","jsgokul123@gmail.com","12121221"],index=["name","email","password"])
s

name                       gokul
email       jsgokul123@gmail.com
password                12121221
dtype: object

In [23]:
# note when u add an index list seperatly but u dont have the index pandas will automatically pass none or nan value