In [1]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\jsgok\appdata\local\programs\python\python38-32\lib\site-packages (1.0.5)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\jsgok\appdata\local\programs\python\python38-32\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\jsgok\appdata\local\programs\python\python38-32\lib\site-packages (from pandas) (1.19.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\jsgok\appdata\local\programs\python\python38-32\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\jsgok\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)

In [2]:
# pandas are cross between list and dictionary

In [3]:
import pandas as pd 
pd.Series?

In [4]:
animals=["lion","elephant","values"]
pd.Series(animals)

0        lion
1    elephant
2      values
dtype: object

In [5]:
# by default pandas sets it values to ibject

In [6]:
numbers=[1,2,3,4,5,6]
pd.Series(numbers)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [7]:
animals=["lion","tiger","sdissdjs",None]
pd.Series(animals)

0        lion
1       tiger
2    sdissdjs
3        None
dtype: object

In [8]:
numbers=[1,2,3,4,5,6,None]
pd.Series(numbers)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    NaN
dtype: float64

In [9]:
# nan != None
import numpy as np
np.nan == None

False

In [10]:
# when u do an equality test of itself then it gives u false itself 
np.nan == np.nan

False

In [11]:
# nan =not an number 
#  we have to test special library to check not an number 
#  when ever u see a nan its similiar to None but numberic value is diffrent because of efficiency reasons 
np.isnan(np.nan)

True

In [12]:
sports={
    "alen":"basketball",
    "gokul":"football",
    "absk":"tennies",
    "hari":"cricket",
}
sports

{'alen': 'basketball',
 'gokul': 'football',
 'absk': 'tennies',
 'hari': 'cricket'}

In [13]:
s=pd.Series(sports)
s

alen     basketball
gokul      football
absk        tennies
hari        cricket
dtype: object

In [14]:
# getting the index object \
s.index

Index(['alen', 'gokul', 'absk', 'hari'], dtype='object')

In [15]:
#  we can pass index values seperatly 
s=pd.Series(["gokul","jsgokul123@gmail.com","12121221"],index=["name","email","password"])
s

name                       gokul
email       jsgokul123@gmail.com
password                12121221
dtype: object

In [16]:
# note when u add an index list seperatly but u dont have the index pandas will automatically pass none or nan value

In [17]:
values={
    "archery":"india",
    "nba":"america",
    "cricket":"england"
}
v=pd.Series(values)
v

archery      india
nba        america
cricket    england
dtype: object

In [18]:
# if u want to see the fourth country on this
v.iloc[2]

'england'

In [19]:
#  now if u want to see which country uses nba as national sport we use loc attribuite 
v.loc["nba"]

'america'

In [20]:
# iloc and loc are attributes not methods thats why we use [] insted of ()

In [21]:
s=pd.Series([500.0,300.0,200.0,500.0])
s

0    500.0
1    300.0
2    200.0
3    500.0
dtype: float64

In [22]:
total=0
for item in s:
    total+=item
print(total)

1500.0

In [23]:
# pandas and underlying numoy library support a method of computation called vectorization
# vactorization works with most of the numpy library including the sum function

In [24]:
import numpy as np

In [25]:
total=np.sum(s)
print(total)

1500.0

In [26]:
# it creates a random values of 10000 numbers and values ranges between(0.1000)
s=pd.Series(np.random.randint(0,1000,10000))
print(s)

0       110
1       879
2       345
3       674
4       512
       ...
9995    195
9996    810
9997    537
9998    373
9999     68
Length: 10000, dtype: int32

In [27]:
s.head() 
# it reduces the output to first five value s

0    110
1    879
2    345
3    674
4    512
dtype: int32

In [28]:
len(s)

10000

In [29]:
# celluar magic functions which starts with two percentages sigans 
#  timeit which is going to run our code few times and give out average time taken to run the code

In [30]:
%%timeit -n 100
summary=0
for item in s:
    summary=summary+item

9.57 ms ± 578 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [31]:
%%timeit -n 100
summary=np.sum(s)

374 µs ± 73.1 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [32]:
# as u observe above solving problems using numpy library is faster than the normal problem

In [33]:
s

0       110
1       879
2       345
3       674
4       512
       ...
9995    195
9996    810
9997    537
9998    373
9999     68
Length: 10000, dtype: int32

In [34]:
s=s+2
s.head()

0    112
1    881
2    347
3    676
4    514
dtype: int32

In [35]:
%%timeit -n 10
s=pd.Series(np.random.randint(0,1000,1000))
for label,value in s.iteritems():
    s.loc[label]=value+2

211 ms ± 59.1 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [36]:
%%timeit -n 10
s=pd.Series(np.random.randint(0,1000,1000))
s=s+2

275 µs ± 132 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [37]:
s=pd.Series([1,2,3,4])
s.loc['animal']="lion"

In [38]:
s

0            1
1            2
2            3
3            4
animal    lion
dtype: object

In [39]:
sports

{'alen': 'basketball',
 'gokul': 'football',
 'absk': 'tennies',
 'hari': 'cricket'}

In [40]:
sports2=pd.Series(["js","sdjdj","kkk"],index=["sdsd","sdsdsd","sdsdsds"])
sports2

sdsd          js
sdsdsd     sdjdj
sdsdsds      kkk
dtype: object

In [41]:
final=sports.append(sportss2)

AttributeError: 'dict' object has no attribute 'append'

In [42]:
# pandas two dimensional data structure called as data frame

In [43]:
# the datafram data structure

In [44]:
import pandas as pd

In [45]:
purchase1=pd.Series({
    "name":"gokuljs",
    "item_purchased":"video game",
    "cost":22.50
})
purchase2=pd.Series({
    "name":"gok",
    "item_purchased":"video",
    "cost":22.5
})
purchase3=pd.Series({
    "name":"guljs",
    "item_purchased":" game",
    "cost":22.0
})

df=pd.DataFrame([purchase1,purchase2,purchase3],index=['store1','store2','store3'])
df.head()

           name item_purchased  cost
store1  gokuljs     video game  22.5
store2      gok          video  22.5
store3    guljs           game  22.0

In [46]:
df.loc['store2']

name                gok
item_purchased    video
cost               22.5
Name: store2, dtype: object

In [47]:
df["item_purchased"]

store1    video game
store2         video
store3          game
Name: item_purchased, dtype: object

In [48]:
df["cost"]

store1    22.5
store2    22.5
store3    22.0
Name: cost, dtype: float64

In [49]:
df.loc["store1","cost"]

22.5

In [50]:
# transpose of matrix happens 
df.T

                    store1 store2 store3
name               gokuljs    gok  guljs
item_purchased  video game  video   game
cost                  22.5   22.5     22

In [51]:
df.T.loc["cost"]

store1    22.5
store2    22.5
store3      22
Name: cost, dtype: object

In [52]:
df.loc[:,["name","cost"]]

           name  cost
store1  gokuljs  22.5
store2      gok  22.5
store3    guljs  22.0

In [53]:
#  dropping values inside the datafram 
# we use drop function to drop a row inside the dataframe 
# drop.("indexname")
df.drop("store2")

           name item_purchased  cost
store1  gokuljs     video game  22.5
store3    guljs           game  22.0

In [54]:
copy_df=df.copy()
copy_df=copy_df.drop("store1")

In [55]:
copy_df

         name item_purchased  cost
store2    gok          video  22.5
store3  guljs           game  22.0

In [56]:
# dropping a column inside the key word 
# del copy_df["column name"]
del copy_df["name"]

In [57]:
copy_df

       item_purchased  cost
store2          video  22.5
store3           game  22.0

In [58]:
df["location"]="none"

In [59]:
df

           name item_purchased  cost location
store1  gokuljs     video game  22.5     none
store2      gok          video  22.5     none
store3    guljs           game  22.0     none

In [60]:
import numpy as np

In [61]:
p=pd.Series(np.arange(1,50))
p

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
31    32
32    33
33    34
34    35
35    36
36    37
37    38
38    39
39    40
40    41
41    42
42    43
43    44
44    45
45    46
46    47
47    48
48    49
dtype: int32

In [62]:
k=pd.DataFrame([p],index=["cost"])

In [63]:
k=k.T
k

    cost
0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
31    32
32    33
33    34
34    35
35    36
36    37
37    38
38    39
39    40
40    41
41    42
42    43
43    44
44    45
45    46
46    47
47    48
48    49

In [64]:
k["cost"]*=1.8
k

    cost
0    1.8
1    3.6
2    5.4
3    7.2
4    9.0
5   10.8
6   12.6
7   14.4
8   16.2
9   18.0
10  19.8
11  21.6
12  23.4
13  25.2
14  27.0
15  28.8
16  30.6
17  32.4
18  34.2
19  36.0
20  37.8
21  39.6
22  41.4
23  43.2
24  45.0
25  46.8
26  48.6
27  50.4
28  52.2
29  54.0
30  55.8
31  57.6
32  59.4
33  61.2
34  63.0
35  64.8
36  66.6
37  68.4
38  70.2
39  72.0
40  73.8
41  75.6
42  77.4
43  79.2
44  81.0
45  82.8
46  84.6
47  86.4
48  88.2

In [65]:
import pandas as pd

In [66]:
df=pd.read_csv('olympics.csv')
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12

In [67]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
144,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
145,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
146,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
147,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [68]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,138,139,140,141,142,143,144,145,146,147
0,NaN,Afghanistan (AFG),Algeria (ALG),Argentina (ARG),Armenia (ARM),Australasia (ANZ) [ANZ],Australia (AUS) [AUS] [Z],Austria (AUT),Azerbaijan (AZE),Bahamas (BAH),...,Uzbekistan (UZB),Venezuela (VEN),Vietnam (VIE),Virgin Islands (ISV),Yugoslavia (YUG) [YUG],Independent Olympic Participants (IOP) [IOP],Zambia (ZAM) [ZAM],Zimbabwe (ZIM) [ZIM],Mixed team (ZZX) [ZZX],Totals
1,№ Summer,13,12,23,5,2,25,26,5,15,...,5,17,14,11,16,1,12,12,3,27
2,01 !,0,5,18,1,3,139,18,6,5,...,5,2,0,0,26,0,0,3,8,4809
3,02 !,0,2,24,2,4,152,33,5,2,...,5,2,2,1,29,1,1,4,5,4775
4,03 !,2,8,28,9,5,177,35,15,5,...,10,8,0,0,28,2,1,1,4,5130
5,Total,2,15,70,12,12,468,86,26,12,...,20,12,2,1,83,3,2,8,17,14714
6,№ Winter,0,3,18,6,0,18,22,5,0,...,6,4,0,7,14,0,0,1,0,22
7,01 !,0,0,0,0,0,5,59,0,0,...,1,0,0,0,0,0,0,0,0,959
8,02 !,0,0,0,0,0,3,78,0,0,...,0,0,0,0,3,0,0,0,0,958
9,03 !,0,0,0,0,0,4,81,0,0,...,0,0,0,0,1,0,0,0,0,948
10,Total,0,0,0,0,0,12,218,0,0,...,1,0,0,0,4,0,0,0,0,2865
11,№ Games,13,15,41,11,2,43,48,10,15,...,11,21,14,18,30,1,12,13,3,49
12,01 !,0,5,18,1,3,144,77,6,5,...,6,2,0,0,26,0,0,3,8,5768
13,02 !,0,2,24,2,4,155,111,5,2,...,5,2,2,1,32,1,1,4,5,5733
14,03 !,2,8,28,9,5,181,116,15,5,...,10,8,0,0,29,2,1,1,4,6078
15,Combined total,2,15,70,12,12,480,304,26,12,...,21,12,2,1,87,3,2,8,17,17579

In [69]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,138,139,140,141,142,143,144,145,146,147
0,NaN,Afghanistan (AFG),Algeria (ALG),Argentina (ARG),Armenia (ARM),Australasia (ANZ) [ANZ],Australia (AUS) [AUS] [Z],Austria (AUT),Azerbaijan (AZE),Bahamas (BAH),...,Uzbekistan (UZB),Venezuela (VEN),Vietnam (VIE),Virgin Islands (ISV),Yugoslavia (YUG) [YUG],Independent Olympic Participants (IOP) [IOP],Zambia (ZAM) [ZAM],Zimbabwe (ZIM) [ZIM],Mixed team (ZZX) [ZZX],Totals
1,№ Summer,13,12,23,5,2,25,26,5,15,...,5,17,14,11,16,1,12,12,3,27
2,01 !,0,5,18,1,3,139,18,6,5,...,5,2,0,0,26,0,0,3,8,4809
3,02 !,0,2,24,2,4,152,33,5,2,...,5,2,2,1,29,1,1,4,5,4775
4,03 !,2,8,28,9,5,177,35,15,5,...,10,8,0,0,28,2,1,1,4,5130
5,Total,2,15,70,12,12,468,86,26,12,...,20,12,2,1,83,3,2,8,17,14714
6,№ Winter,0,3,18,6,0,18,22,5,0,...,6,4,0,7,14,0,0,1,0,22
7,01 !,0,0,0,0,0,5,59,0,0,...,1,0,0,0,0,0,0,0,0,959
8,02 !,0,0,0,0,0,3,78,0,0,...,0,0,0,0,3,0,0,0,0,958
9,03 !,0,0,0,0,0,4,81,0,0,...,0,0,0,0,1,0,0,0,0,948
10,Total,0,0,0,0,0,12,218,0,0,...,1,0,0,0,4,0,0,0,0,2865
11,№ Games,13,15,41,11,2,43,48,10,15,...,11,21,14,18,30,1,12,13,3,49
12,01 !,0,5,18,1,3,144,77,6,5,...,6,2,0,0,26,0,0,3,8,5768
13,02 !,0,2,24,2,4,155,111,5,2,...,5,2,2,1,32,1,1,4,5,5733
14,03 !,2,8,28,9,5,181,116,15,5,...,10,8,0,0,29,2,1,1,4,6078
15,Combined total,2,15,70,12,12,480,304,26,12,...,21,12,2,1,87,3,2,8,17,17579

In [70]:
df.max

<bound method DataFrame.max of                                                 0         1     2     3     4  \
0                                             NaN  № Summer  01 !  02 !  03 !
1                               Afghanistan (AFG)        13     0     0     2
2                                   Algeria (ALG)        12     5     2     8
3                                 Argentina (ARG)        23    18    24    28
4                                   Armenia (ARM)         5     1     2     9
..                                            ...       ...   ...   ...   ...
143  Independent Olympic Participants (IOP) [IOP]         1     0     1     2
144                            Zambia (ZAM) [ZAM]        12     0     1     1
145                          Zimbabwe (ZIM) [ZIM]        12     3     4     1
146                        Mixed team (ZZX) [ZZX]         3     8     5     4
147                                        Totals        27  4809  4775  5130

         5         6     7     8     9     10       11    12    13    14  \
0    Total  № Winter  01 !  02 !  03 !  Total  № Games  01 !  02 !  03 !
1        2         0     0     0     0      0       13     0     0     2
2       15         3     0     0     0      0       15     5     2     8
3       70        18     0     0     0      0       41    18    24    28
4       12         6     0     0     0      0       11     1     2     9
..     ...       ...   ...   ...   ...    ...      ...   ...   ...   ...
143      3         0     0     0     0      0        1     0     1     2
144      2         0     0     0     0      0       12     0     1     1
145      8         1     0     0     0      0       13     3     4     1
146     17         0     0     0     0      0        3     8     5     4
147  14714        22   959   958   948   2865       49  5768  5733  6078

                 15
0    Combined total
1                 2
2                15
3                70
4                12
..              ...
143               3
144               2
145               8
146              17
147           17579

[148 rows x 16 columns]>

In [71]:
df.head

<bound method NDFrame.head of                                                 0         1     2     3     4  \
0                                             NaN  № Summer  01 !  02 !  03 !
1                               Afghanistan (AFG)        13     0     0     2
2                                   Algeria (ALG)        12     5     2     8
3                                 Argentina (ARG)        23    18    24    28
4                                   Armenia (ARM)         5     1     2     9
..                                            ...       ...   ...   ...   ...
143  Independent Olympic Participants (IOP) [IOP]         1     0     1     2
144                            Zambia (ZAM) [ZAM]        12     0     1     1
145                          Zimbabwe (ZIM) [ZIM]        12     3     4     1
146                        Mixed team (ZZX) [ZZX]         3     8     5     4
147                                        Totals        27  4809  4775  5130

         5         6     7     8     9     10       11    12    13    14  \
0    Total  № Winter  01 !  02 !  03 !  Total  № Games  01 !  02 !  03 !
1        2         0     0     0     0      0       13     0     0     2
2       15         3     0     0     0      0       15     5     2     8
3       70        18     0     0     0      0       41    18    24    28
4       12         6     0     0     0      0       11     1     2     9
..     ...       ...   ...   ...   ...    ...      ...   ...   ...   ...
143      3         0     0     0     0      0        1     0     1     2
144      2         0     0     0     0      0       12     0     1     1
145      8         1     0     0     0      0       13     3     4     1
146     17         0     0     0     0      0        3     8     5     4
147  14714        22   959   958   948   2865       49  5768  5733  6078

                 15
0    Combined total
1                 2
2                15
3                70
4                12
..              ...
143               3
144               2
145               8
146              17
147           17579

[148 rows x 16 columns]>

In [72]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
144,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
145,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
146,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
147,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [73]:
df['combinedtotal']

KeyError: 'combinedtotal'

In [74]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
144,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
145,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
146,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
147,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [75]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
144,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
145,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
146,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
147,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [76]:
# i want to see first eight columns only 
df.head(8)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
5,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
6,Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
7,Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304

In [77]:
#  now u want to u see last eight columns 
df.tail(8)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
140,Vietnam (VIE),14,0,2,0,2,0,0,0,0,0,14,0,2,0,2
141,Virgin Islands (ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1
142,Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
143,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
144,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
145,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
146,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
147,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [79]:
# to check on pandas intrepreted each of the data column
df.dtypes

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
15    object
dtype: object

In [81]:
# My colleague requested the titanic data as a spreadsheet.
df.to_excel('titanic.xlsx', sheet_name='passengers', index=False)

ModuleNotFoundError: No module named 'openpyxl'