In [1]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\jsgok\appdata\local\programs\python\python38-32\lib\site-packages (1.0.5)
Requirement already satisfied: numpy>=1.13.3 in c:\users\jsgok\appdata\local\programs\python\python38-32\lib\site-packages (from pandas) (1.19.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\jsgok\appdata\local\programs\python\python38-32\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\jsgok\appdata\local\programs\python\python38-32\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\jsgok\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)

In [2]:
# pandas are cross between list and dictionary

In [3]:
import pandas as pd 
pd.Series?

In [4]:
animals=["lion","elephant","values"]
pd.Series(animals)

0        lion
1    elephant
2      values
dtype: object

In [5]:
# by default pandas sets it values to ibject

In [6]:
numbers=[1,2,3,4,5,6]
pd.Series(numbers)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [7]:
animals=["lion","tiger","sdissdjs",None]
pd.Series(animals)

0        lion
1       tiger
2    sdissdjs
3        None
dtype: object

In [8]:
numbers=[1,2,3,4,5,6,None]
pd.Series(numbers)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    NaN
dtype: float64

In [9]:
# nan != None
import numpy as np
np.nan == None

False

In [10]:
# when u do an equality test of itself then it gives u false itself 
np.nan == np.nan

False

In [11]:
# nan =not an number 
#  we have to test special library to check not an number 
#  when ever u see a nan its similiar to None but numberic value is diffrent because of efficiency reasons 
np.isnan(np.nan)

True

In [12]:
sports={
    "alen":"basketball",
    "gokul":"football",
    "absk":"tennies",
    "hari":"cricket",
}
sports

{'alen': 'basketball',
 'gokul': 'football',
 'absk': 'tennies',
 'hari': 'cricket'}

In [13]:
s=pd.Series(sports)
s

alen     basketball
gokul      football
absk        tennies
hari        cricket
dtype: object

In [14]:
# getting the index object \
s.index

Index(['alen', 'gokul', 'absk', 'hari'], dtype='object')

In [15]:
#  we can pass index values seperatly 
s=pd.Series(["gokul","jsgokul123@gmail.com","12121221"],index=["name","email","password"])
s

name                       gokul
email       jsgokul123@gmail.com
password                12121221
dtype: object

In [16]:
# note when u add an index list seperatly but u dont have the index pandas will automatically pass none or nan value

In [17]:
values={
    "archery":"india",
    "nba":"america",
    "cricket":"england"
}
v=pd.Series(values)
v

archery      india
nba        america
cricket    england
dtype: object

In [18]:
# if u want to see the fourth country on this
v.iloc[2]

'england'

In [19]:
#  now if u want to see which country uses nba as national sport we use loc attribuite 
v.loc["nba"]

'america'

In [20]:
# iloc and loc are attributes not methods thats why we use [] insted of ()

In [21]:
s=pd.Series([500.0,300.0,200.0,500.0])
s

0    500.0
1    300.0
2    200.0
3    500.0
dtype: float64

In [22]:
total=0
for item in s:
    total+=item
print(total)

1500.0

In [23]:
# pandas and underlying numoy library support a method of computation called vectorization
# vactorization works with most of the numpy library including the sum function

In [24]:
import numpy as np

In [25]:
total=np.sum(s)
print(total)

1500.0

In [26]:
# it creates a random values of 10000 numbers and values ranges between(0.1000)
s=pd.Series(np.random.randint(0,1000,10000))
print(s)

0       684
1       208
2       838
3       573
4       288
       ...
9995     10
9996    570
9997    242
9998    457
9999    330
Length: 10000, dtype: int32

In [27]:
s.head() 
# it reduces the output to first five value s

0    684
1    208
2    838
3    573
4    288
dtype: int32

In [28]:
len(s)

10000

In [29]:
# celluar magic functions which starts with two percentages sigans 
#  timeit which is going to run our code few times and give out average time taken to run the code

In [30]:
%%timeit -n 100
summary=0
for item in s:
    summary=summary+item

2.6 ms ± 86.8 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [31]:
%%timeit -n 100
summary=np.sum(s)

106 µs ± 9.31 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [32]:
# as u observe above solving problems using numpy library is faster than the normal problem

In [33]:
s

0       684
1       208
2       838
3       573
4       288
       ...
9995     10
9996    570
9997    242
9998    457
9999    330
Length: 10000, dtype: int32

In [34]:
s=s+2
s.head()

0    686
1    210
2    840
3    575
4    290
dtype: int32

In [35]:
%%timeit -n 10
s=pd.Series(np.random.randint(0,1000,1000))
for label,value in s.iteritems():
    s.loc[label]=value+2

62.7 ms ± 2.03 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [36]:
%%timeit -n 10
s=pd.Series(np.random.randint(0,1000,1000))
s=s+2

327 µs ± 71 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [37]:
s=pd.Series([1,2,3,4])
s.loc['animal']="lion"

In [38]:
s

0            1
1            2
2            3
3            4
animal    lion
dtype: object

In [39]:
sports

{'alen': 'basketball',
 'gokul': 'football',
 'absk': 'tennies',
 'hari': 'cricket'}

In [40]:
sports2=pd.Series(["js","sdjdj","kkk"],index=["sdsd","sdsdsd","sdsdsds"])
sports2

sdsd          js
sdsdsd     sdjdj
sdsdsds      kkk
dtype: object

In [41]:
final=sports.append(sportss2)

AttributeError: 'dict' object has no attribute 'append'

In [ ]:
# pandas two dimensional data structure called as data frame

In [ ]:
# the datafram data structure

In [ ]:
import pandas as pd

In [ ]:
purchase1=pd.Series({
    "name":"gokuljs",
    "item_purchased":"video game",
    "cost":22.50
})
purchase2=pd.Series({
    "name":"gok",
    "item_purchased":"video",
    "cost":22.5
})
purchase3=pd.Series({
    "name":"guljs",
    "item_purchased":" game",
    "cost":22.0
})

df=pd.DataFrame([purchase1,purchase2,purchase3],index=['store1','store2','store3'])
df.head()

In [ ]:
df.loc['store2']

In [ ]:
df["item_purchased"]

In [ ]:
df["cost"]

In [ ]:
df.loc["store1","cost"]

In [ ]:
# transpose of matrix happens 
df.T

In [ ]:
df.T.loc["cost"]

In [ ]:
df.loc[:,["name","cost"]]

In [ ]:
#  dropping values inside the datafram 
# we use drop function to drop a row inside the dataframe 
# drop.("indexname")
df.drop("store2")

In [ ]:
copy_df=df.copy()
copy_df=copy_df.drop("store1")

In [ ]:
copy_df

In [ ]:
# dropping a column inside the key word 
# del copy_df["column name"]
del copy_df["name"]

In [ ]:
copy_df

In [ ]:
df["location"]="none"

In [ ]:
df

In [ ]:
import numpy as np

In [ ]:
p=pd.Series(np.arange(1,50))
p

In [ ]:
k=pd.DataFrame([p],index=["cost"])

In [ ]:
k=k.T
k

In [ ]:
k["cost"]*=1.8
k

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('olympics.csv')
df.head()

In [ ]:
df

In [ ]:
df.T

In [ ]:
df.T

In [ ]:
df.max

In [ ]:
df.head

In [ ]:
df

In [ ]:
df['combinedtotal']

In [ ]:
df

In [ ]:
df

In [ ]:
# i want to see first eight columns only 
df.head(8)

In [ ]:
#  now u want to u see last eight columns 
df.tail(8)

In [ ]:
# to check on pandas intrepreted each of the data column
df.dtypes

In [43]:
# My colleague requested the titanic data as a spreadsheet.
df.to_excel('titanic.xlsx', sheet_name='passengers', index=False)

ModuleNotFoundError: No module named 'openpyxl'

In [42]:
purchase1=pd.Series({
    "name":"gokuljs",
    "item_purchased":"video game",
    "cost":22.50
})
purchase2=pd.Series({
    "name":"gok",
    "item_purchased":"video",
    "cost":22.5
})
purchase3=pd.Series({
    "name":"guljs",
    "item_purchased":" game",
    "cost":22.0
})

df=pd.DataFrame([purchase1,purchase2,purchase3],index=['store1','store2','store3'])
df.head()

           name item_purchased  cost
store1  gokuljs     video game  22.5
store2      gok          video  22.5
store3    guljs           game  22.0