In [2]:
import pandas as pd
import numpy as np

In [4]:
# pandas is the cross between the items and ditionary 
pd.Series?

In [7]:
animals=["tigers","bear","mouse"]
pd.Series(animals)

0    tigers
1      bear
2     mouse
dtype: object

In [9]:
numbers=[1,2,3,4,45,5,6,6,6,6,6,6,6,6,6,6,6,6,6,6,]
pd.Series(numbers)

0      1
1      2
2      3
3      4
4     45
5      5
6      6
7      6
8      6
9      6
10     6
11     6
12     6
13     6
14     6
15     6
16     6
17     6
18     6
19     6
dtype: int64

In [10]:
import numpy as np
np.nan == None

False

In [11]:
np.nan == np.nan

False

In [12]:
# nan means not a number  
np.isnan(np.nan)

True

In [ ]:
# nan and none are same but numeric value traeted diffrently for efficient reasons

In [14]:
# we are creating a dictionaru 
Sports={
    "archery":"gokul js",
    "Age":24,
    "college":"cmrit"
}
# when we convert dictonaries to pandas data frame keys are used as special index 
s = pd.Series(Sports)

In [15]:
s

archery    gokul js
Age              24
college       cmrit
dtype: object

In [16]:
# now we only need index from the pandas series 
s.index

Index(['archery', 'Age', 'college'], dtype='object')

In [ ]:
# querying the series 
# loc and iloc attribute

In [17]:
# we are creating a dictionaru 
Sports={
    "archery":"gokul js",
    "Age":24,
    "college":"cmrit"
}
# when we convert dictonaries to pandas data frame keys are used as special index 
s = pd.Series(Sports)

In [18]:
s

archery    gokul js
Age              24
college       cmrit
dtype: object

In [20]:
# iloc attribute is used to access the spicfic index by numeric value 
s.iloc[2]

'cmrit'

In [23]:
# loc attribute us going to acces index by using special index value
s.loc["Age"]

24

In [25]:
s[2]

'cmrit'

In [26]:
s['Age']

24

In [27]:
list=[i for i in range(0,100)]

In [28]:
list

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [29]:
s=pd.Series(list)
s

0      0
1      1
2      2
3      3
4      4
      ..
95    95
96    96
97    97
98    98
99    99
Length: 100, dtype: int64

In [36]:
%%timeit -n 100
k=np.sum(s)
k

77 µs ± 7.52 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [37]:
%%timeit -n 100

total=0
for i in range(len(list)):
    total=total+list[i]
total

9.51 µs ± 801 ns per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [38]:
s +=2
s.head()

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [47]:
%%timeit -n 5
s=pd.Series(np.random.randint(0,1000,10000))
for label,value in s.iteritems():
    s.loc[label]+=2
s

803 ms ± 26.7 ms per loop (mean ± std. dev. of 7 runs, 5 loops each)

In [48]:
%%timeit -n 5
s=pd.Series(np.random.randint(0,1000,10000))
s+=2
s

425 µs ± 257 µs per loop (mean ± std. dev. of 7 runs, 5 loops each)

In [ ]:
#  getting started with dataframe 
# data anlaysis and

In [50]:
purchase1=pd.Series({
    
        "name":"gokul",
        "cost":2000,
        "purchase":"yes"
    
    
}
)
purchase2=pd.Series(
        "name":"gokul js jsjjsj",
        "cost":2000,
        "purchase":"yes"
)purchase3=pd.Series(
        "name":"sdosodlk gokul",
        "cost":2000,
        "purchase":"yes"
)
df=pd.Dataframe(purchase1,purchase2,purchase3 ,index=['store1','store2','store3'])
df.head()

SyntaxError: invalid syntax (<ipython-input-50-e04e47ae5444>, line 2)