In [1]:
import pandas as pd

In [2]:
# getting started with pandas dataframe datastructure in pandas

In [3]:
# dataframe is the two axised labeld array

In [5]:
record1=pd.Series({
    "name":"gokul",
    "class":"7th sem",
    "college":"cmrit"
})
record2=pd.Series({
    "name":"hari",
    "class":"7th sem",
    "college":"cmrit"
})
record3=pd.Series({
    "name":"go",
    "class":"1 st sem",
    "college":"sddsD"
})

In [6]:
record1

name         gokul
class      7th sem
college      cmrit
dtype: object

In [7]:
record2

name          hari
class      7th sem
college      cmrit
dtype: object

In [8]:
record3

name             go
class      1 st sem
college       sddsD
dtype: object

In [11]:
df=pd.DataFrame([record1,record2,record3],index=['school1','scho0l2','school3'])

In [12]:
df

          name     class college
school1  gokul   7th sem   cmrit
scho0l2   hari   7th sem   cmrit
school3     go  1 st sem   sddsD

In [13]:
# another way of doing thsi is list of dicitonary

In [14]:
k=[{
    "name":"gokul",
    "class":"7th sem",
    "college":"cmrit"
},{
    "name":"hari",
    "class":"7th sem",
    "college":"cmrit"
},{
    "name":"go",
    "class":"1 st sem",
    "college":"sddsD"
}
]

In [15]:
k

[{'name': 'gokul', 'class': '7th sem', 'college': 'cmrit'},
 {'name': 'hari', 'class': '7th sem', 'college': 'cmrit'},
 {'name': 'go', 'class': '1 st sem', 'college': 'sddsD'}]

In [17]:
df=pd.DataFrame(k,index=['school1','scho0l2','school3'])

In [18]:
df

          name     class college
school1  gokul   7th sem   cmrit
scho0l2   hari   7th sem   cmrit
school3     go  1 st sem   sddsD

In [23]:
df.loc['school3']

name             go
class      1 st sem
college       sddsD
Name: school3, dtype: object

In [ ]:
df.loc['school3'][df.loc['school3']]