In [1]:
import pandas as pd

In [2]:
students=["gokul","hari","alen"]

In [4]:
pd.Series(students)
# output is an series object values are indexed with integer which are starting with zero

0    gokul
1     hari
2     alen
dtype: object

In [6]:
k=[i for i in range(100)]
k

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [8]:
pd.Series(k)# when u pass a list of whole numbers it will set dtype automatically to int64

0      0
1      1
2      2
3      3
4      4
      ..
95    95
96    96
97    97
98    98
99    99
Length: 100, dtype: int64

In [10]:
# in python we have the none type to indicate to lack of data

In [12]:
stu=["gokul js","hari",None]
pd.Series(stu)

0    gokul js
1        hari
2        None
dtype: object

In [17]:
# if we create a list of integer or floats and if we pass a None value pandas will automatically convert into an Nan vale 
k=[i for i in range(5)]
k.append(None)
pd.Series(k)# Nan stands for not an number

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    NaN
dtype: float64

In [24]:
import numpy as np
np.nan == None

False

In [28]:
np.nan == np.nan # we cannot do equality test on np.nan itself it will return false

False

In [30]:
np.isnan(np.nan)

True

In [31]:
# a series can be created from dictionary also 
# when you do that pands will automatically  allocate dicitonary index as dictonary  keys

In [32]:
student_list={
    "name":"gokul js",
    "class":"7th sem",
    "college":"cmrit"
}

In [35]:
pd.Series(student_list)

name       gokul js
class       7th sem
college       cmrit
dtype: object

In [38]:
student=[("alice","brown"),("jack","white"),("molly","gree")]
student

[('alice', 'brown'), ('jack', 'white'), ('molly', 'gree')]

In [40]:
pd.Series(student)

0    (alice, brown)
1     (jack, white)
2     (molly, gree)
dtype: object

In [42]:
s=pd.Series(['gokul js','7 th sem ','cmrit'],index=['name','class','college'])
s

name        gokul js
class      7 th sem
college        cmrit
dtype: object

In [44]:
student={
    "gokul":"ml",
    "ashwin":"ml",
    "hari":"white hat jr",
}

In [46]:
pd.Series(student,index=['gokul','ashwin','hari','alen'])# alen is the new index which is created which is nto presented int dictionary

gokul               ml
ashwin              ml
hari      white hat jr
alen               NaN
dtype: object

In [48]:
# quereying a  series

In [49]:
# 1 structure a series 
# merging a series 
# importance of thinking about parelliziation in data science program